.element {
	border-style:		solid;
	background-color:	lightgreen;
	border-width:		4px;
	height:				400px;
	width:				200px;
	display:			inline-block;
	white-space:		normal;
}

.element_add {
	border-style:		solid;
	background-color:	#959595;
	border-width:		4px;
	height:				400px;
	width:				100px;
	display:			inline-block;
	white-space:		normal;
}

.element_info {
	font-family:		sans;
	font-size:			2em;
	font-weight:		bold;
}

#datapicker {
	border-style:		solid;
	background-color:	#f0f0e1;
	border-width:		2px;
	height:				400px;
	width:				400px;
	visibility:			hidden;
}

#workbench {
	position:			relative;
	white-space:		nowrap;
	overflow-x:			auto;
	overflow-y:			hidden;
	top:				0px;
	height:				500px;
	width:				99%;
}

#elements {
	border-width:		4px;
	border-style:		solid;
	background-color:	#959595;
	
}