html {
	font-family: 		sans-serif;	
}

.element {
	border-style:		solid;
	background-color:	lightgreen;
	border-width:		0.25rem;
	height:				25rem;
	width:				12.5rem;
	display:			inline-block;
	white-space:		normal;
	position:			inherit;		/*to leave space to element_add*/
	left:				7rem;
}

.element_add {
	border-style:		solid;
	background-color:	#959595;
	border-width:		0.25rem;
	height:				25rem;
	width:				6.25rem;
	display:			inline-block;
	white-space:		normal;
	position:			absolute;		/*otherwise it jumpes down as soon as an element is added*/
	left:				0;
	font-size:			3rem;
	vertical-align:		center;
}

.element_info {
	font-size:			2em;
	font-weight:		bold;
	text-align:			center
}

#datapicker {
	border-style:		solid;
	background-color:	#f0f0e1;
	border-width:		0.125rem;
	height:				25rem;
	width:				25rem;
	visibility:			hidden;	
	margin-top:			1.7rem;
}

#workbench {
	position:			relative;
	white-space:		nowrap;
	overflow-x:			auto;
	overflow-y:			hidden;
	top:				1.5rem;
	height:				26.5rem;
	width:				99%;
}

#elements {
	border-width:		0.25rem;
	border-style:		solid;
	background-color:	#959595;
	position: 			fixed;			/*sets tasklist fixed (to top) even when scrolling*/
    top: 				0;
    left:	 			0.4rem;
	z-index:			10;				/*sets tasklist to foreground*/
	
}


.datapicker div:nth-child(1) {			/*refers to first element after div tag (here a label like "höhe") and sets a margin*/
	margin-top: 		3%;			
}

.datapicker label {
	width: 				45%;
	margin-top: 		2%;
	display: 			inline-block;
	text-indent:		5%;
}

.datapicker > div > div label {			/*gilt für alle label im div tag im div tag (Formular) vom Datapicker*/
	/*margin-top: 		10%;*/
}

.datapicker input, select {
	margin-left: 		2%;
}


.datapicker input[type="number"]{		/*nice way to refer to only "number"-input fields*/
	width:				20%;
	height:				5%
}

.datapicker input[type="checkbox"]{		/*nice way to refer to only "number"-input fields*/
	left:				1rem;
}

.datapicker input#submit {
	margin-left:		12%;
	margin-top:			5%;
	background-color: 	#4CAF50; 		/* Green */
    border: 			none;
    color: 				white;
    padding: 			1rem 2rem;
    text-align: 		center;
    text-decoration: 	none;
    display: 			inline-block;
    font-size: 			1rem;
}

.datapicker input#reset {
	margin-left:		5%;
	margin-top:			5%;
	background-color: 	#ec3939; 		/* redish */
    border: 			none;
    color: 				white;
    padding: 			1rem 2rem;
    text-align: 		center;
    text-decoration:	none;
    display: 			inline-block;
    font-size: 			1rem;
}

.element_edit_button,.drawers_edit_button, .tablare_edit_button	{
	margin-top:			5%;
	background-color: 	#DCDCDC; 		/* grey */
    /*border: 			none;*/
    color: 				black;
    padding: 			0.5rem 1rem;
    text-align: 		center;
    text-decoration: 	none;
    display: 			inline-block;
    font-size: 			1rem;
	margin-left:		0.25rem;
	/*position: 			absolute;
    left: 				0;
    right: 				0;
	margin-left: 		auto;
	margin-right: 		auto;*/
}
