html {
	font-family: 		sans-serif;	
}

.element {
	border-style:		solid;
	background-color:	lightgreen;
	border-width:		4px;
	height:				400px;
	width:				200px;
	display:			inline-block;
	white-space:		normal;
}

.element_add {
	border-style:		solid;
	background-color:	#959595;
	border-width:		4px;
	height:				400px;
	width:				100px;
	display:			inline-block;
	white-space:		normal;
}

.element_info {
	font-size:			2em;
	font-weight:		bold;
	text-align:			center
}

#datapicker {
	border-style:		solid;
	background-color:	#f0f0e1;
	border-width:		2px;
	height:				400px;
	width:				400px;
	visibility:			hidden;
				
}

#workbench {
	position:			relative;
	white-space:		nowrap;
	overflow-x:			auto;
	overflow-y:			hidden;
	top:				0;
	/*height:			500px;*/
	width:				99%;
}

#elements {
	border-width:		4px;
	border-style:		solid;
	background-color:	#959595;
	
}


.datapicker div:nth-child(1) {
	margin-top: 		3%;
}

.datapicker label {
	width: 				45%;
	margin-top: 		2%;
	display: 			inline-block;
	text-indent:		5%;
}

.datapicker input {
	margin-left: 		2%;
}

.datapicker select {
	margin-left: 		2%
}

.datapicker input[type="number"]{
	width:				20%;
	height:				5%
}

.datapicker input#submit {
	margin-left:		12%;
	margin-top:			5%;
	background-color: 	#4CAF50; /* Green */
    border: 			none;
    color: 				white;
    padding: 			15px 32px;
    text-align: 		center;
    text-decoration: 	none;
    display: 			inline-block;
    font-size: 			16px;
}

.datapicker input#reset {
	margin-left:		5%;
	margin-top:			5%;
	background-color: 	#ec3939; /* redish */
    border: 			none;
    color: 				white;
    padding: 			15px 32px;
    text-align: 		center;
    text-decoration:	none;
    display: 			inline-block;
    font-size: 			16px;
}

.spacer_sh{
	height:				0.25rem;
}