/* Klasse
.datapicker {
} */
/* ID
#datapicker {
} */
/* TagName
input {
} */

.datapicker div:nth-child(1) {
	margin-top: 		3%;
}

.datapicker label {
	width: 				45%;
	margin-top: 		2%;
	display: 			inline-block;
	text-indent:		5%;
}

.datapicker input {
	margin-left: 		2%;
}

.datapicker select {
	margin-left: 		2%
}

.datapicker input[type="number"]{
	width:				20%;
	height:				5%
}

.datapicker input#submit {
	margin-left:		12%;
	margin-top:			5%;
	background-color: 	#4CAF50; /* Green */
    border: 			none;
    color: 				white;
    padding: 			15px 32px;
    text-align: 		center;
    text-decoration: 	none;
    display: 			inline-block;
    font-size: 			16px;
}

.datapicker input#reset {
	margin-left:		5%;
	margin-top:			5%;
	background-color: 	#ec3939; /* redish */
    border: 			none;
    color: 				white;
    padding: 			15px 32px;
    text-align: 		center;
    text-decoration:	none;
    display: 			inline-block;
    font-size: 			16px;
}